* {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #353535;
}

body {
  background-image: url('bg.png');
}

.box {
  opacity: 0.5;
  width: 250px;
  height: 250px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#lost {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  line-height: 100%;
  font-size: 200px;
  text-align: center;
}

#level {
  font-size: 300px;
  width: 350px;
  position: absolute;
  float: left;
  top: 20%;
  left: 5%;
  text-align: center;
}

#highscore {
  float: right;
  position: absolute;
  right: 7%;
  left: auto;
  top: 20%;
  font-size: 50px;
  line-height: 200%;
}

#score {
  text-align: center;
  font-size: 200px;
}

#button {
  width: 300px;
  height: 125px;
  margin: auto;
  position: relative;
  top: 50px;
  text-align: center;
  box-sizing: border-box;
  font-size: 85px;
  border-style: solid;
  border-width: thick;
  border-radius: 25px;
  background-color: white;
}

.btn {
  line-height: 135%;
  vertical-align: middle;
}

#boxes {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 100%;
}

#green {
  background: rgba(9, 230, 64, 1);
  background: -moz-linear-gradient(-45deg, rgba(9, 230, 64, 1) 0%, rgba(161, 240, 153, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9, 230, 64, 1)), color-stop(100%, rgba(161, 240, 153, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(9, 230, 64, 1) 0%, rgba(161, 240, 153, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(9, 230, 64, 1) 0%, rgba(161, 240, 153, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(9, 230, 64, 1) 0%, rgba(161, 240, 153, 1) 100%);
  background: linear-gradient(135deg, rgba(9, 230, 64, 1) 0%, rgba(161, 240, 153, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09e640', endColorstr='#a1f099', GradientType=1);
  border-top-left-radius: 100%;
}

#yellow {
  background: rgba(254, 182, 69, 1);
  background: -moz-linear-gradient(45deg, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254, 182, 69, 1)), color-stop(100%, rgba(241, 231, 103, 1)));
  background: -webkit-linear-gradient(45deg, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  background: linear-gradient(45deg, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f1e767', GradientType=1);
  border-bottom-left-radius: 100%;
}

#blue {
  background: rgba(71, 166, 255, 1);
  background: -moz-linear-gradient(-45deg, rgba(71, 166, 255, 1) 0%, rgba(21, 0, 255, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71, 166, 255, 1)), color-stop(100%, rgba(21, 0, 255, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(71, 166, 255, 1) 0%, rgba(21, 0, 255, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(71, 166, 255, 1) 0%, rgba(21, 0, 255, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(71, 166, 255, 1) 0%, rgba(21, 0, 255, 1) 100%);
  background: linear-gradient(135deg, rgba(71, 166, 255, 1) 0%, rgba(21, 0, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a6ff', endColorstr='#1500ff', GradientType=1);
  top: -50%;
  left: 50%;
  border-bottom-right-radius: 100%;
}

#red {
  background: rgba(245, 138, 122, 1);
  background: -moz-linear-gradient(45deg, rgba(245, 138, 122, 1) 0%, rgba(194, 16, 0, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(245, 138, 122, 1)), color-stop(100%, rgba(194, 16, 0, 1)));
  background: -webkit-linear-gradient(45deg, rgba(245, 138, 122, 1) 0%, rgba(194, 16, 0, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(245, 138, 122, 1) 0%, rgba(194, 16, 0, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(245, 138, 122, 1) 0%, rgba(194, 16, 0, 1) 100%);
  background: linear-gradient(45deg, rgba(245, 138, 122, 1) 0%, rgba(194, 16, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58a7a', endColorstr='#c21000', GradientType=1);
  top: -150%;
  left: 50%;
  border-top-right-radius: 100%
}
